@namespace Sand.UI
@attribute [StyleSheet]
@inherits RootPanel

<root>
    <WorldDisplay />
    <SandDisplay />
    <ElementSelector />

    <div class="ClearWorld" @onclick=@ClearWorld >
        delete
    </div>
    @* <div class="center"></div> *@
</root>

@code {
    public static Hud Current { get; private set; }

    public void ClearWorld()
    {
        Sand.Systems.FallingSand.SandWorld.ClearGrid();
    }
}