@inherits Panel
@using Sandbox;
@using Sandbox.UI;

@attribute [StyleSheet]
<root >
    <div class="active" @ref="activepanel">
    </div>
    <div class="ElementName">
        @Element.Name
    </div>
</root>